table {
	table-layout: fixed;
	width:  90%;
}

col .col1 {
	width:  35%;
	margin-right: 10px;
}

col .col2 {
	width:  15%;
}

td .inst {
	vertical-align: top;
}

td .details {
	padding-bottom: 25px;
}

td a {
	color:  #38A7BE;
	text-decoration: none;
}

td a:hover {
	color:  #3295A9;
}

td {
	padding-bottom: 8px;
}