table {
	table-layout: fixed;
	width:  90%;
}

h4 {
	color:  #38A7BE;
}

col .col1 {
	width:  35%;
}

col .wcol1 {
	width:  20%;
}

col .col1, col .wcol1 {
	margin-right: 10px;
}

col .col2 {
	width:  15%;
}

td .inst, td pos {
	vertical-align: top;
}

td .details {
	padding-bottom: 25px;
}

a {
	text-decoration: none;
}

td a {
	color:  #8B8C87;
}

td a:hover {
	color:  #7C7D78;
}

h4 a {
	color:  #38A7BE;
}

h4 a:hover {
	color:  #3295A9;
}

td {
	padding-bottom: 8px;
}